@{
    ViewData["Title"] = "Home Page";
}

<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.1/css/lightgallery-bundle.min.css" />

<div id="lightgallery">
    <a href="img/Zrzut2.png" data-lg-size="1600-2400">
        <img alt="img1" src="img/Zrzut2.png" />
    </a>
    <a href="img/Zrzut2.png" data-lg-size="1024-800">
        <img alt="img2" src="img/Zrzut2.png" />
    </a>

</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.1/lightgallery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.1/plugins/zoom/lg-zoom.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.1/plugins/thumbnail/lg-thumbnail.min.js"></script>

<script type="text/javascript">
    lightGallery(document.getElementById('lightgallery'), {
        plugins: [lgZoom, lgThumbnail],
        licenseKey: 'your_license_key',
        speed: 500,
        // ... other settings
    });
</script>